.container {
    padding-top: 10px;
    height: 100vh;
    /*background-color: red;*/
}

#plot {
    height: 600px;
    width: 100%;
    background-color: white;
}

.weight {
    padding-top: 10px;
}



















